
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="" method="POST" id="loginForm">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">登录</h1>
        </div>
        <div class="login-wrap">
            <input type="text" name="username" class="form-control" placeholder="用户名" autofocus>
            <input type="password" name="password" class="form-control" placeholder="密码">

            <button class="btn btn-lg btn-login btn-block" type="button">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </form>
</div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/common.js"></script>
<script type="text/javascript">

$(function(){
    $('.btn-login').click(function(){
        ajax_post('/login', $('#loginForm').serialize(), function(res){
            if(res.code !== 20000){
                alert(res.msg);
            }else{
                setCookie('access_token', res.data.access_token, '30d');
                setCookie('expires_time', res.data.expires_time, '30d');
                alert('登录成功');
                window.location.href = '/';
            }
        });
    });
});

</script>

</body>
</html>